body {
    background-image: url("../img/background.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    background-color: #2E4057;
    text-align: center;
    color: gray;
    padding: 20px;
}

#header-link {
    color: white;
}

.nav-link {
    font-size: 25px;
    color: white;
}

h2 {
    color: black;
    text-align: center;
}

hr  {
    border-top: 1px solid;
}

.card {
    background-color: rgb(247, 236, 222);
}

img{
    padding-left: 15px;
    padding-right: 15px;
}

footer {
    background-color: #2E4057;
    text-align: center;
    color: white;
    padding: 10px;

}
